@import "~bootstrap/scss/bootstrap";
@import "./landing-page.scss";
@import "../fonts/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.full-vh {
  height: 100vh;
}

.align-justify-center {
  justify-content: center;
  align-items: center;
}

body {
  max-width: 100%;
  color: #fafafa;
  background: #0d0c16;
}

h1,
h2,
h3 {
  font-family: "Montserrat";
}

h1 {
  font-weight: 600;
}

.modal-content {
  background: #0c1a24;
}

.fab-button {
  position: fixed;
  right: 10px;
  bottom: 20px;
}

.record-list > * {
  margin-right: 20px;
}
